body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  width: 28.125rem;
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
}

.ImageUploader {
  width: 23.125rem;
  height: 6.25rem;
  border: 2px dashed cornflowerblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.625rem;
}

.ImagePreview {
  vertical-align: -100%;
  margin: 0.3125rem;
  max-height: 3.125rem;
  max-width: 18.75rem;
  box-shadow: 0 0 2px 1px cornflowerblue;

}

.Info {
  font-size: 0.625rem;
  margin-bottom: 0.625rem;
}

canvas {
  display: none;
}

a {
  border: 2px solid cornflowerblue;
  border-radius: 3px;
  background-color: rgb(167, 188, 224);
  padding: 0.3125rem;
  color: #333333;
  text-decoration: none;
}

textarea {
  border: 1px solid cornflowerblue;
}