body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  border: 1px solid cornflowerblue;
  border-radius: 3px;
  width: 450px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.ImageUploader {
  width: 370px;
  height: 100px;
  border: 2px dashed cornflowerblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.ImagePreview {
  vertical-align: -100%;
  margin: 5px;
  max-height: 50px;
  max-width: 300px;
  box-shadow: 0 0 2px 1px cornflowerblue;

}

.Info {
  font-size: 10px;
  margin-bottom: 10px;
}

canvas {
  display: none;
}

a {
  border: 2px solid cornflowerblue;
  border-radius: 3px;
  background-color: rgb(167, 188, 224);
  padding: 5px;
  color: #333333;
  text-decoration: none;
}

textarea {
  border: 1px solid cornflowerblue;
}